= content_for :messages do
  = render "layouts/errors", :object => @video

= simple_form_for(@video) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :show_at, as: :date, html5: true
    = f.file_field :file

  .form-actions
    = f.button :submit, class: 'right'
